<nav class="navbar navbar-expand-lg navbar-dark bg-food shadow-sm px-4">


  <div class="container-fluid">

    <a class="navbar-brand d-flex align-items-center gap-2" href="#">
      <img src="assets/navIcon2.png" alt="Logo" class="custom-logo" />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">

      <ul class="navbar-nav">

        <a class="nav-link rounded-pill px-3 py-2 text-white shadow-sm" routerLink="/home"
          routerLinkActive="active">
          HOME
        </a>

        <a class="nav-link rounded-pill px-3 py-2 text-white shadow-sm" routerLink="/search-by-name"
          routerLinkActive="active">
          MEAL BY NAME
        </a>

        <a class="nav-link rounded-pill px-3 py-2 text-white shadow-sm" routerLink="/search-by-letter"
          routerLinkActive="active">
          MEAL BY LETTER
        </a>

        <a class="nav-link rounded-pill px-3 py-2 text-white shadow-sm" routerLink="/random-meal"
          routerLinkActive="active">
          RANDOM MEAL
        </a>

        <!-- <a class="nav-link rounded-pill px-3 py-2 text-white shadow-sm" routerLink="/practica-4"
          routerLinkActive="active">
          PRACTICA 4
        </a>
        <li class="nav-item">
          <a class="nav-link" routerLink="/practica-5" routerLinkActive="active"
            (click)="reloadPractica5()">PRACTICA 5
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>