<footer class="footer bg-food text-white mt-auto py-3 shadow-sm fade-divider">
  <div class="container text-center">
    <p class="mb-1 fw-semibold">© 2025 Designed and developed by George Mota</p>
    <div>
      <app-shared-icon-link icon="bi-github" url="https://github.com/georgemota" color="text-white"
        size="fs-5"></app-shared-icon-link>

      <app-shared-icon-link icon="bi-linkedin" url="https://www.linkedin.com/in/george-mota-32523a1a8/"
        color="text-white" size="fs-5"></app-shared-icon-link>
    </div>
  </div>
</footer>