<section class="practice-description">
    <h3 class="text-success fw-bold">Práctica 1: Introducción a Componentes</h3>
    <p>
      El objetivo de esta práctica es familiarizarse con la estructura básica de un proyecto Angular, 
      comprender cómo se crean y organizan los componentes, y cómo se comunican entre sí.
    </p>
  
    <div class="mt-3">
      <h6 class="fw-bold">Ejercicios e instrucciones:</h6>
      <ul>
        <li>Deben crear <strong>tres componentes</strong> y mostrarlos en pantalla.</li>
        <li>Para visualizar los componentes en el navegador, deben llamar al <strong>selector</strong> de cada componente en el archivo <code>app.component.html</code>.</li>
        <li>Los componentes creados deben ser <strong>importados</strong> en el archivo <code>app.component.ts</code>.</li>
        <li>Tienen libertad para diseñar los tres componentes de la forma que prefieran.</li>
        <li>Al finalizar, recuerden <strong>comprimir su proyecto</strong>. El nombre del archivo comprimido debe incluir su <strong>nombre completo</strong>.</li>
      </ul>
    </div>
  </section>  

<h4>Componente #1</h4>
<section>
  <app-first-component></app-first-component>
</section>

<h4>Componente #2</h4>
<section>
  <app-second-component></app-second-component>
</section>

<h4>Componente #3</h4>
<section>
  <app-third-component></app-third-component>
</section>

