<section class="practice-description mb-4">
  <h3 class="text-success fw-bold">Práctica 3: Directivas Estructurales</h3>
  <p>
    En esta práctica aprenderás a controlar el flujo de visualización en Angular utilizando directivas estructurales
    modernas como <code>&commat;if</code> y <code>&commat;for</code>, así como estilos dinámicos con
    <code>[ngClass]</code>.
    Se busca mejorar la comprensión de cómo aplicar lógica condicional y repetir estructuras dentro del template de
    manera eficiente.
  </p>

  <div class="mt-3">
    <h6 class="fw-bold">Ejercicios e instrucciones:</h6>
    <ol>
      <li>
        <strong>Mostrar un mensaje condicional con <code>&commat;if</code>.</strong>
        <ul class="mt-2">
          <li>Usar <code>&commat;if</code> para mostrar y ocultar un mensaje basado en una variable booleana.</li>
          <li>Crear un botón que alterne entre mostrar y ocultar un mensaje como "¡Bienvenido al curso de Angular!".
          </li>
          <li>Define una variable <code>isVisible</code> en el componente e inicializada en <code>false</code>.</li>
          <li>Usa <code>&commat;if</code> para mostrar el mensaje solo cuando <code>isVisible</code> sea
            <code>true</code>.
          </li>
        </ul>
      </li>

      <li><strong>Renderizar una lista de elementos con <code>&commat;for</code>.</strong></li>
      <ul class="mt-2">
        <li>Usar <code>&commat;for</code> para iterar y mostrar una lista de datos.</li>
        <li>Crear un componente que muestre una lista de frutas:
          <code>["Manzana", "Plátano, "Cereza", "Durazno", "Fresa"]</code>.
        </li>
        <li>Usar <code>&commat;for</code> en <code>HTML</code> para mostrar cada fruta en un <code>&lt;li&gt;</code>.
        </li>
        <li>Agrega un botón que permita añadir una fruta nueva al final de la lista.</li>
      </ul>

      <li><strong>Usar <code>&commat;if</code> con una condición anidada</strong>.</li>
      <ul class="mt-2">
        <li>Crear un componente que tenga una variable score(<code>number</code>) que represente la puntuación de un
          estudiante.</li>
        <li>Si el puntaje es mayor o igual a 90, muestre "Excelente".</li>
        <li>Si el puntaje está entre 60 y 89, muestre "Aprobado".</li>
        <li>Si el puntaje es menor a 60, muestre "Reprobado".</li>
        <li>Usa botones para cambiar dinámicamente el puntaje.</li>
      </ul>

      <li><strong>Tablas dinámicas con <code>&commat;for</code> y directivas combinadas.</strong>.</li>
      <ul class="mt-2">
        <li>Crear una tabla dinámica para visualizar una listaq de usuarios.</li>
        <li>Define en el componente una lista de usuarios, donde cada usuario sea un objeto con propiedades:
          <code>&#123; nombre: string, edad: number, activo: boolean &#125;</code>.
        </li>
        <li>Usa <code>&commat;for</code> para iterar y mostrar cada usuario en una fila de una tabla.</li>
        <li>Agrega una columna extra que muestre <strong>Activo</strong> o <strong>Inactivo</strong> según el valor de
          la propiedad <code>activo</code>, usando <code>&commat;if</code>.</li>
      </ul>

    </ol>
  </div>
</section>


<h4>Ejercicio #1</h4>
<section>
  <button class="btn btn-outline-success btn-sm me-2" (click)="toggleVisibility()">
    {{ isVisible ? 'Ocultar' : 'Mostrar' }} mensaje
  </button>

  @if (isVisible) {
  <p>¡Bienvenido al curso de Angular!</p>
  }
</section>

<h4>Ejercicio #2</h4>
<section>
  <ul>
    @for (fruta of frutas; track fruta) {
    <li>{{ fruta }}</li>
    }
  </ul>

  <button class="btn btn-outline-success btn-sm me-2" (click)="agregarFruta()">Agregar fruta</button>
</section>

<h4>Ejercicio #3</h4>
<section>
  Puntaje actual: {{ score }}
  @if (score >= 90) {
  <p [ngClass]="{
      'verde': score >= 90,
      'azul': score >= 60 && score < 90,
      'rojo': score <= 59
    }">Excelente</p>
  } @else if (score >= 60) {
  <p [ngClass]="{
        'verde': score >= 90,
        'azul': score >= 60 && score < 90,
        'rojo': score <= 59
      }">Aprobado</p>
  } @else {
  <p [ngClass]="{
        'verde': score >= 90,
        'azul': score >= 60 && score < 90,
        'rojo': score <= 59
      }">Reprobado</p>
  }
  <button class="btn btn-outline-success btn-sm me-2" (click)="aumentar()">Aumentar +1</button>
  <button class="btn btn-outline-success btn-sm me-2" (click)="disminuir()">Disminuir -1</button>
</section>

<h4>Ejercicio #4</h4>
<section>
  <table class="table table-bordered table-striped table-sm">
    <thead class="table-success">
      <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      @for (usuario of usuarios; track usuario) {
      <tr>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.edad }}</td>
        <td>
          @if (usuario.activo) {
          <span class="badge bg-success">Activo</span>
          } @else {
          <span class="badge bg-secondary">Inactivo</span>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>