<section class="practice-description">
  <h3 class="text-success fw-bold">Práctica 5: Galería Dinámica de Imágenes de Perritos</h3>
  <p>
    En esta práctica, aprendemos a consumir una API REST para obtener imágenes de perros y mostrar una galería dinámica
    con textos descriptivos.
    Además, se incluye un botón para cargar una imagen dinámica adicional que se actualiza mediante un servicio de
    recarga.
  </p>

  <div class="mt-3">
    <h6 class="fw-bold">Funcionalidades principales:</h6>
    <ol>
      <li>
        <strong>Galería inicial de imágenes:</strong>
        <ul class="mt-2">
          <li>Obtención de imágenes desde la API y renderización dinámica con *ngFor.</li>
        </ul>
      </li>

      <li>
        <strong>Imagen dinámica:</strong>
        <ul class="mt-2">
          <li>Carga y refresco de una imagen adicional al presionar el botón o mediante el servicio Reload.</li>
        </ul>
      </li>

      <li>
        <strong>Animaciones y estilos:</strong>
        <ul class="mt-2">
          <li>Animación de aparición con fadeInUp y diseño responsivo con Flexbox.</li>
        </ul>
      </li>
    </ol>
  </div>
</section>

<hr>

<ng-template #loadingSpinner>
  <div class="spinner-overlay d-flex justify-content-center align-items-center">
    <img src="https://media.giphy.com/media/3o6ZtpxSZbQRRnwCKQ/giphy.gif" alt="Cargando perrito" class="spinner-img" />
  </div>
</ng-template>

<div class="wiki-container container" *ngIf="!cargandoGlobal; else loadingSpinner">
  <h3 class="text-success fw-bold">WikiDogs: Datos generales sobre perritos</h3>

  <section *ngFor="let texto of textos; let i = index" class="section row align-items-center mb-5"
    [ngClass]="{ 'flex-row-reverse': i % 2 !== 0 }">
    <div class="image col-md-6 p-3">
      <section>
        <img [src]="imagenes[i]" [alt]="'Imagen de perrito ' + (i + 1)" class="uniform-img img-fluid rounded shadow" />
      </section>
    </div>
    <div class="text col-md-6 p-3">
      <section>
        <h4>{{ titulos[i] }}</h4>
        <p>{{ texto }}</p>
      </section>
    </div>
  </section>

  <div class="dynamic-card text-center mt-5">
    <h3 class="text-success fw-bold">¿Cuál es el perrito aleatorio de hoy?</h3>
    <section>
      <img [src]="imagenDinamica" alt="Perrito aleatorio"  />
    </section>
    <button class="btn btn-outline-success btn-sm me-2" (click)="getPerritoDinamico()">Obtener otro perrito</button>
  </div>
</div>